label {
  text-transform: capitalize;
  margin-right: 0.3rem;
}

.textField__container {
  /* border: 1px solid lightgray; */
  width: fit-content;
  margin: 1rem auto;
}

.msg__container {
  padding: 0.5rem;
  border-radius: 4px;
}

.success {
  border: 1px solid rgb(8, 80, 8);
  background-color: rgb(47, 140, 47);
}

.err {
  border: 1px solid rgb(145, 6, 6);
  background-color: rgb(149, 60, 60);
}

input {
  color: black;
}
